
/* meu codigo ficou a metade de baixo branco e nao consegui arrumar.*/

* {
  margin: 0;
  padding: 0;
}


h1, h2, h4 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}


p {
  font-family: "Montserrat", sans-serif;
}



.main-cont {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.sub-contain {
  display: flex;
  width: 40%;
  min-width: 500px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}


.img1 {
  background-image: url(images/image-product-desktop.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}

.content-two {
  width: 50%; 
  background-color: white;
  padding: 15px;
}
.card-button{
  margin-top: 15px;
}
.card-button button{
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  background-color: #3d8168;
  color: white;
  display: flex;
  gap: 5px;
 justify-content: center;
 font-weight: bold;
 font-size: medium;
 margin-left: 10px;
 

}
.card-button:hover button{
  background-color: hsl(212, 21%, 14%);
  cursor: pointer;}